body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 30px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#imagen-container {
    margin-top: 30px;
    display: none;
}

#imagen {
    max-width: 100%;
    max-height: 400px;
}

body {
    margin: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/* Agrega estilos adicionales para tu contenido encima del video, como el título y los botones */

/* Estilos para los botones */
.button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #25ddd4; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Estilo cuando el mouse pasa por encima de un botón */
.button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
    margin-right: 10px; /* Espacio entre los botones */
}

/* Estilo cuando el mouse pasa por encima de un botón */
.button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

